<%- include('../partials/header') %>
<div class="details">
    <h2><%= alpaca.name %></h2>
    <p>Kolor: <%= alpaca.color %></p>
    <p>Cena: <%= alpaca.price %> zł</p>
</div>
<%- include('../partials/footer') %>
