<%- include('../partials/header') %>

<h2>Historia zakupów</h2>

<table>
    <tr>
        <th>Użytkownik</th>
        <th>Alpaka</th>
        <th>Cena</th>
        <th>Data</th>
    </tr>

    <% orders.forEach(order => { %>
        <tr>
            <td><%= order.username %></td>
            <td><%= order.alpacaName %></td>
            <td><%= order.price %> zł</td>
            <td><%= new Date(order.createdAt).toLocaleString() %></td>
        </tr>
    <% }) %>
</table>

<%- include('../partials/footer') %>
